{% extends 'visualization/components/base.html' %}

{% block title %}บันทึก{% endblock %}

{% block content %}
    <main class="normal-content">
        <div>
            <form id="filter" method="POST">
                <div>
                    {% csrf_token %}
                    {{ filterform.as_p }}
                    <script>
                        document.getElementById("id_filter").addEventListener("change", function() {
                            document.getElementById("filter").submit();
                        });
                    </script>
                </div>
            </form>
            <form action="{% url 'insert' %}" method="POST">
                {% if form is not None %}
                    <div>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="button button-primary">บันทึก</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock %}