{% extends 'visualization/components/base.html' %}
{% load static %}

{% block title %}หน้าแรก{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
            <main class="dashboard">
                <div>
                    <div class="panel list">
                        <li>
                            <h2>วันที่</h2>
                            <span>รายได้</span>
                        </li>
                        {% for data in data %}
                            <li>
                                <h4>{{ data.Date }}</h4>
                                <span>{{ data.Net }} บาท</span>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                <div style="min-width: 500px;">
                    <div class="panel">
                        {{ chart|safe }}
                    </div>
                </div>
                <div>

                </div>
            </main>
    {% else %}
        <main class="normal-content">
            <div class="plist">
                <h2 class="welcome-text">
                    ยินดีต้อนรับเข้าสู่เว็ปไซต์บริหารจัดการของร้านชาบู 3 พี่น้อง กรุณา 
                    <a href="{% url 'login' %}" style="text-decoration: underline;">เข้าสู่ระบบ</a> เพื่อใช้งาน
                </h2>
            </div>
        </main>
    {% endif %}
{% endblock %}