{% extends 'visualization/components/base.html' %}
{% load static %}

{% block title %}หน้าแรก{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
            <main class="dashboard">
                <div class="plist">
                    
                </div>
            </main>
    {% else %}
        <main class="normal-content">
            <div class="plist">
                <h2 class="welcome-text">
                    ยินดีต้อนรับเข้าสู่เว็ปไซต์บริหารจัดการของร้านชาบู 3 พี่น้อง กรุณา 
                    <a href="{% url 'login' %}" style="text-decoration: underline;">เข้าสู่ระบบ</a> เพื่อใช้งาน
                </h2>
            </div>
        </main>
    {% endif %}
{% endblock %}