{% extends 'visualization/components/base.html' %}

{% block title %}บันทึก{% endblock %}

{% block content %}
    <main class="normal-content">
        <div class="">
            <form action="{% url 'record' %}" method="POST">
                <div>
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div>
                    <button type="submit" class="button button-primary">บันทึก</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}