{% extends 'visualization/components/base.html' %}

{% block title %}หน้าแรก{% endblock %}

{% block content %}
    <div>
        <table>
            <thead>
                <tr>
                    <td>วันที่</td>
                    <td>เงินสด</td>
                    <td>เงินโอน</td>
                    <td>Delivery</td>
                </tr>
            </thead>
            <tbody>
                {% if dataframe %}
                    {% for data in dataframe %}
                        <tr>
                            <td>{{ data.date }}</td>
                            <td>{{ data.cash }}</td>
                            <td>{{ data.transferPayment }}</td>
                            <td>{{ data.delivery }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div>
        <h3>กราฟ</h3>
        {{ chart|safe }}
    </div>
{% endblock %}