{% extends 'visualization/components/base.html' %}

{% block title %}วิเคราะห์ข้อมูล{% endblock %}

{% block content %}
    <main class="dashboard">
        {% if user.is_superuser %}
            <div>
                <form id="filter" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <script>
                        document.getElementById("id_filter").addEventListener("change", function() {
                            document.getElementById("filter").submit();
                        });
                    </script>
                </form>
            </div>
            <div style="margin-left: 27em;">
                <form id="monthFilter" method="POST" action="{% url 'cleanMonth' %}">
                    {% csrf_token %}
                    {{ monthFilter.as_p }}
                    <script>
                        document.getElementById("id_monthYear").addEventListener("change", function() {
                            document.getElementById("monthFilter").submit();
                        });
                    </script>                    
                </form>
            </div>
            <div>
                <div class="panel list" style="text-align: center;">
                    <h1 style="margin-top: 3%;">รายได้รวม</h1>
                    <h2 style="color: #ea335d; margin-top: 3%; margin-bottom: 3%;">{{ total_income }}</h2>
                </div>
            </div>
            <div>
                <div class="panel list" style="text-align: center;">
                    <h1 style="margin-top: 3%;">ค่าใช้จ่ายรวม</h1>
                    <h2 style="color: #ea335d; margin-top: 3%; margin-bottom: 3%;">{{ total_expense }}</h2>
                </div>
            </div>
            <div>
                <div class="panel list" style="text-align: center;">
                    <h1 style="margin-top: 3%;">รายได้เฉลี่ยต่อวัน</h1>
                    <h2 style="color: #ea335d; margin-top: 3%; margin-bottom: 3%;">{{ avg_income }}</h2>
                </div>
            </div>
            <div>
                <div class="panel list" style="text-align: center;">
                    <h1 style="margin-top: 3%;">ค่าใช้จ่ายเฉลี่ยต่อวัน</h1>
                    <h2 style="color: #ea335d; margin-top: 3%; margin-bottom: 3%;">{{ avg_expense }}</h2>
                </div>
            </div>
            <div>
                <div class="panel list">
                    {{ chart1|safe }}
                </div>
            </div>
            <div>
                
            </div>
            <div>
                <div class="panel list">
                    {{ chart2|safe }}
                </div>
            </div>
        {% else %}
            <h1 class="welcome-text">คุณไม่มีสิทธิเข้าถึงหน้านี้</h1>
        {% endif %}
    </main>
{% endblock %}