{% extends 'visualization/components/base.html' %}

{% block title %}นำเข้าข้อมูล{% endblock %}

{% block content %}
    <main class="normal-content">
        <div class="">
            {% if user.is_superuser %}
                <form id="csv" method="POST" enctype="multipart/form-data">
                    <div>
                        {% csrf_token %}
                        {{ filterForm.as_p }}
                        {{ CSVForm.CSVFile.label_tag }}
                        {{ CSVForm.CSVFile }}
                        <script>
                            document.getElementById("id_CSVFile").addEventListener("change", function() {
                                document.getElementById("csv").submit();
                            });
                        </script>
                    </div>
                </form>
                {% if dataframe %}
                    {% if addProduct %}
                        <form method="POST" action="{% url 'addProduct' %}" class="csv-submit">
                    {% else %}
                        <form method="POST" action="{% url 'save' %}" class="csv-submit">
                    {% endif %}
                            <h4>ชื่อไฟล์: {{ file.name }}</h4>
                            {% if yearMonth %}
                                <h4 style="margin-bottom: 0%; margin-top: 3%;">เดือนและปีของรายการขายสินค้า</h4>
                                {% csrf_token %}
                                {{ yearMonth.as_p }}
                            {% endif %}
                            <div>
                                <button type="submit" class="button button-primary">บันทึก</button>
                                <a href="{% url 'home' %}" class="button button-primary">ย้อนกลับ</a>
                            </div>
                        </form>
                    <h3>กรุณาตรวจสอบข้อมูล</h3>
                    {{ dataframe | safe }}
                {% endif %}
            {% else %}
                <h1 class="welcome-text">คุณไม่มีสิทธิเข้าถึงหน้านี้</h1>
            {% endif %}
        </div>
    </main>
{% endblock %}