{% extends 'visualization/components/base.html' %}

{% block title %}เพิ่มผู้ใช้งาน{% endblock %}

{% block content %}
    <main class="normal-content">
        <div class="plist">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div>
                    {{ form.branch.label_tag }}
                    {{ form.branch }}
                    {{ form.branch.errors }}
                </div>
                <div>
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div>
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
                <p>
                    <button type="submit" class="button button-primary">เพิ่มผู้ใช้งาน</button>
                </p>
            </form>
        </div>
    </main>
{% endblock %}